{{ $rootPath := "/"}}
{{ $isExternal := (strings.HasPrefix .Destination "http") }}
{{- if (not (or $isExternal (strings.HasPrefix .Destination "#"))) }}
  {{ $style := "" }}
  {{ with $.PageInner.GetPage (index (strings.Split .Destination "#") 0) }}
  {{ else }}
    {{ $style = "color:#ba0000" }}
  {{ end }}

  <a href="{{ $rootPath }}{{ strings.Replace .Destination ":" "" }}"
    {{- with .Title }} title="{{ . }}"{{ end -}}
    style={{ $style }}
  >
    {{- with .Text }}{{ . }}{{ end -}}
  </a>
{{ else }}
  <a href="{{ .Destination | safeURL }}"
    {{- with .Title }} title="{{ . }}"{{ end -}}
    {{- if (strings.HasPrefix .Destination "http") }} target="_blank" rel="external"{{ end -}}
  >
    {{ if $isExternal }}🔗&nbsp;{{ end }}
    {{- with .Text }}{{ . }}{{ end -}}
  </a>
{{ end -}}
