{{ $rootPath := "/"}}
{{ $isExternal := (strings.HasPrefix .Destination "http") }}
{{- if (not (or $isExternal (strings.HasPrefix .Destination "#"))) }}
  {{ $style := "" }}
  {{ $desiredPage := (index (strings.Split .Destination "#") 0) }}
  {{ with $.PageInner.GetPage $desiredPage }}
    <!-- GetPage isn't case sensitive, so double-check the page name is spelled correctly -->
    {{ with .File }}
      {{ if (ne .Path (print $desiredPage "." .Ext)) }}
        {{ $style = "color:#ba0000" }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ $style = "color:#ba0000" }}
  {{ end }}

  <a href="{{ $rootPath }}{{ strings.Replace .Destination ":" "" }}"
    {{- with .Title }} title="{{ . }}"{{ end -}}
    style={{ $style }}
  >
    {{- with .Text }}{{ . }}{{ end -}}
  </a>{{ else }}<a href="{{ .Destination | safeURL }}"
    {{- with .Title }} title="{{ . }}"{{ end -}}
    {{- if (strings.HasPrefix .Destination "http") }} target="_blank" rel="external"{{ end -}}
  >
    {{ if $isExternal }}🔗&nbsp;{{ end }}
    {{- with .Text }}{{ . }}{{ end -}}
  </a>{{ end -}}
