:root {
    --gray-50: #fafbfc;
    --table-border: var(--gray-500);
    --table-2n-background: var(--gray-100);
}
@media(prefers-color-scheme: dark) {
    :root {
        --gray-50: rgba(255, 255, 255, 0.05);
        --table-border: var(--gray-200);
        --table-2n-background: var(--gray-50);
    }
}

.container {
    max-width: 100rem;
}

.markdown {
    table tr {
        th, td {
            padding: .25rem .5rem;
            border-color: var(--table-border);
        }
        &:nth-child(2n) {
            background: var(--table-2n-background);
        }
    }
    hr {
        background: var(--gray-500);
    }
}
