/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

:root {
    --gray-50: #fafbfc;
    --table-2n-background: var(--gray-100);
}
@media(prefers-color-scheme: dark) {
    :root {
        --gray-50: rgba(255, 255, 255, 0.05);
        --table-2n-background: var(--gray-50);
    }
}

.container {
    max-width: 100rem;
}

.markdown {
    table tr {
        &:nth-child(2n) {
            background: var(--table-2n-background);
        }
    }
}
