/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

:root {
    --gray-50: #fafbfc;
    --table-border: var(--gray-500);
    --table-2n-background: var(--gray-100);
    --broken-link-color: #ba0000;
}
@media(prefers-color-scheme: dark) {
    :root {
        --gray-50: rgba(255, 255, 255, 0.05);
        --table-border: var(--gray-200);
        --table-2n-background: var(--gray-50);
        --broken-link-color: #ff9595;
    }
}

.container {
    max-width: 100rem;
}

.markdown {
    table tr {
        th, td {
            padding: .25rem .5rem;
            border-color: var(--table-border);
        }
        &:nth-child(2n) {
            background: var(--table-2n-background);
        }
    }
    hr {
        background: var(--gray-500);
    }
}

.pagecodelinks>a {
    display: inline-flex;
    align-items: center;
    margin-right: 1em;
}

a.broken {
    color: var(--broken-link-color);
}
