<div style="margin: -.3em -1em -1em -1em;">

<table>
<tbody>
<tr class="odd">
<td></td>
</tr>
</tbody>
</table>

</div>
<div style="margin: -.3em -1em -1em -1em;">

<table>
<tbody>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p><a
href="https://3dbrew.org/w/index.php?title=News&amp;feed=atom&amp;action=history">RSS
Feed</a> · <img src="view_more.png" title="view_more.png"
alt="view_more.png" /> <a href=":News/Archive"
title="wikilink">Archive</a></p></td>
</tr>
</tbody>
</table>

</div>
<div style="margin: -.3em -1em -1em -1em;">

<table>
<tbody>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p><a
href="https://3dbrew.org/w/index.php?title=Homebrew_Releases&amp;feed=atom&amp;action=history">RSS
Feed</a> · <img src="view_more.png" title="view_more.png"
alt="view_more.png" /> <a href=":Homebrew_Releases/Archive"
title="wikilink">Archive</a></p></td>
</tr>
</tbody>
</table>

</div>
