<table>
<colgroup>
<col style="width: 3%" />
<col style="width: 3%" />
<col style="width: 3%" />
</colgroup>
<thead>
<tr class="header">
<th><p><strong>General</strong></p></th>
<th><p><strong>Homebrew</strong></p></th>
<th><p><strong>3DS hardware</strong></p></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><ul>
<li><a href="Glossary" title="wikilink">Glossary</a></li>
<li><a href="Friend_code" title="wikilink">Friend code</a></li>
<li><a href="Games" title="wikilink">Games</a></li>
<li><a href="Serials" title="wikilink">Serials</a></li>
<li><a href=":Category:PC_utilities" title="wikilink">PC
Utilities</a></li>
<li><a href="Mysteries" title="wikilink">Mysteries</a></li>
</ul></td>
<td><ul>
<li><a href="Homebrew_Exploits" title="wikilink">Homebrew
Exploits</a></li>
<li><a href="Homebrew_Applications" title="wikilink">Homebrew
Applications</a></li>
<li><a href="Homebrew_Libraries_and_Tools" title="wikilink">Homebrew
Libraries and Tools</a></li>
<li><a href="3DS_System_Flaws" title="wikilink">3DS System
Flaws</a></li>
<li><a href="3DS_Userland_Flaws" title="wikilink">3DS Userland
Flaws</a></li>
</ul></td>
<td><ul>
<li><a href="Hardware" title="wikilink">Overview</a> (<a href="IO_Registers"
title="wikilink">IO registers</a>)</li>
<li><a href="TP_Nets" title="wikilink">Test points</a></li>
<li><a href="categories/GPU" title="wikilink">GPU</a></li>
<li><a href="categories/DSP" title="wikilink">DSP</a></li>
<li><a href="Peripherals" title="wikilink">Peripherals</a></li>
<li><a href="Gamecards" title="wikilink">Gamecards</a></li>
<li><a href="Video_Capture" title="wikilink">Video Capture</a></li>
</ul></td>
</tr>
</tbody>
</table>


<table>
<colgroup>
<col style="width: 3%" />
<col style="width: 3%" />
<col style="width: 3%" />
</colgroup>
<thead>
<tr class="header">
<th><p><strong>3DS Operating System</strong></p></th>
<th><p><strong>3DS Software Stack</strong></p></th>
<th><p><strong>3DS Content</strong></p></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><ul>
<li><a href="Memory_layout" title="wikilink">Memory layout</a></li>
<li><a href="Services_API" title="wikilink">Services API</a></li>
<li><a href="CTR_API" title="wikilink">CTR API</a></li>
<li><a href="Kernel" title="wikilink">Kernel</a> (<a href="SVC"
title="wikilink">system calls</a>, <a href=":Category:Kernel_objects"
title="wikilink">objects</a>)</li>
<li><a href="Bootloader" title="wikilink">Bootloader</a></li>
</ul></td>
<td><ul>
<li><a href="Nintendo_Software" title="wikilink">Nintendo
Software</a></li>
<li><a href="3DS_Development_Unit_Software" title="wikilink">3DS
Development Unit Software</a></li>
<li><a href="Titles" title="wikilink">Titles</a> (<a href="Title_list"
title="wikilink">list</a>, <a href="Title_metadata"
title="wikilink">metadata</a>, <a href="Ticket"
title="wikilink">tickets</a>)</li>
<li><a href="Update_Data" title="wikilink">Update Data</a></li>
</ul></td>
<td><ul>
<li><a href="SD_Filesystem" title="wikilink">SD Filesystem</a></li>
<li><a href="Flash_Filesystem" title="wikilink">Flash
Filesystem</a></li>
<li><a href="Savegames" title="wikilink">Savegames</a></li>
<li><a href=":Category:File_formats" title="wikilink">File Formats</a>
(<a href="NCSD" title="wikilink">CCI</a>/<a href="NCCH#CXI"
title="wikilink">CXI</a>/<a href="CIA" title="wikilink">CIA</a>)</li>
<li><a href="PRUDP" title="wikilink">PRUDP (network protocol)</a></li>
</ul></td>
</tr>
</tbody>
</table>
